<div class="head-container">
  <div class="quote">
    <p>The beautiful thing about learning is that nobody can take it away from you</p>
    <h5>Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits. Educational methods include teaching, training, storytelling, discussion and directed research!</h5>
    <div class="play">
      <img src="assets/play.png" alt="play"><span><a href="https://youtu.be/riDLxUB7TJA?feature=shared" target="_blank">Watch Now</a></span>
    </div>
  </div>
  <div class="svg-image">
    <img src="assets/svg1.jpg" alt="svg">
  </div>
</div>
  <br><br><br>
<!-- Some Popular Subjects -->
<div class="title">
<span>Popular Streams on <b>SIT</b></span>
</div>
<br><br>
<div class="course">
<div class="center"><div class="cbox">
<div class="det"><a href="#"><img src="assets/book.png">Fullstack Web Dev </a></div>
<div class="det"><a href="#"><img src="assets/d1.png">Data Science</a></div>
<div class="det"><a href="#"><img src="assets/paper.png">MERN/MEAN dev</a></div>
<div class="det"><a href="#"><img src="assets/d1.png">Cloud Computing</a></div>
</div></div>
<div class="cbox">
<div class="det"><a href="#"><img src="assets/computer.png">Computer Courses</a></div>
<div class="det"><a href="#"><img src="assets/data.png">Data Structures</a></div>
<div class="det"><a href="#"><img src="assets/algo.png">Algorithm</a></div>
<div class="det det-last"><a href="#"><img src="assets/projects.png">Hadoop</a></div>
</div>
</div>

<!-- Reviews by Students -->
<div id="makeitfull">
	<a href="#review_section"><img src="assets/makeitfull.png"></a>
</div>
<div class="review">
	<div class="diffSection" id="review_section">
		<div class="center"><p style="font-size: 40px; padding: 100px; padding-bottom: 40px; color: #2E3D49;">What the Students Say About Us?</p></div>
	</div>
	<div class="rev-container">
		<div class="rev-card">
			<div class="identity">
				<img src="assets/zuber.jpg"><p>Zuber Shaikh</p>
				<h6>Fullstack Dev</h6>
				<div class="rating"><img src="assets/star.png"><img src="assets/star.png"><img src="assets/star.png"><img src="assets/star.png"><img src="assets/star.png"></div>
			</div>
			<div class="rev-cont">
				<p id="title">Review:</p>
				<p id="content">
					I enrolled in <b>SIT's</b> Fullstack Dev course, and it was an incredible experience! The curriculum was well-structured, covering everything from front-end to back-end development.
				</p>
			</div>
		</div>
		<div class="rev-card">
			<div class="identity">
				<img src="assets/zuber.jpg"><p>Zuber Shaikh</p>
				<h6>AI</h6>
				<div class="rating"><img src="assets/star.png"><img src="assets/star.png"><img src="assets/star.png"><img src="assets/star.png"><img src="assets/star.png"></div>
			</div>
			<div class="rev-cont">
				<p id="title">Review:</p>
				<p id="content">
					"The AI course at SIT exceeded my expectations! The instructors provided comprehensive coverage of machine learning algorithms, neural networks, and natural language processing.
				</p>
			</div>
		</div>
		<div class="rev-card">
			<div class="identity">
				<img src="assets/zuber.jpg"><p>Zuber Shaikh</p>
				<h6>Data Science</h6>
				<div class="rating"><img src="assets/star.png"><img src="assets/star.png"><img src="assets/star.png"><img src="assets/star.png"><img src="assets/star.png"></div>
			</div>
			<div class="rev-cont">
				<p id="title">Review:</p>
				<p id="content">
					"I took the Data Science course at SIT, and it was fantastic! The content was up-to-date and relevant to industry demands. 
				</p>
			</div>
		</div>
		<div class="rev-card">
			<div class="identity">
				<img src="assets/zuber.jpg"><p>Zuber Shaikh</p>
				<h6>Frontend Dev</h6>
				<div class="rating"><img src="assets/star.png"><img src="assets/star.png"><img src="assets/star.png"><img src="assets/star.png"><img src="assets/star.png"></div>
			</div>
			<div class="rev-cont">
				<p id="title">Review:</p>
				<p id="content">
					"SIT's Fullstack Dev course was a game-changer for me! As someone with minimal coding experience, I was amazed at how quickly I progressed throughout the program.
				</p>
			</div>
		</div>
	</div>
</div>

<!-- Footer section starts from here -->
<footer>
  <div class="footer-col">
    <h3>Top Products</h3>
    <li>Manage Reputation</li>
    <li>Power Tools</li>
    <li>Managed Website</li>
    <li>Marketing Service</li>
  </div>

  <div class="footer-col">
    <h3>Power Tools</h3>
    <li>Jobs</li>
    <li>Marketing Service</li>
    <li>Top Products</li>
    <li>Manage Reputation</li>
  </div>

  <div class="footer-col">
    <h3>Power Tools</h3>
    <li>Managed Website</li>
    <li>Manage Reputation</li>
    <li>Top Products</li>
    <li>Marketing Service</li>
  </div>

  <div class="footer-col">
    <h3>Guides</h3>
    <li>Research</li>
    <li>Experts</li>
    <li>Managed Website</li>
    <li>Marketing Service</li>
  </div>

  <div class="footer-col">
    <h3>Newsletter</h3>
    <p>You can trust us. we only send promo offers.</p>

    <div class="subscribe">
      <input type="email" placeholder="Your email Address">
      <a href="#" class="yellow">SUBSCRIBE</a>
    </div>
  </div>

  <div class="copyright">
    <p>
     This website is created by <b>Zuber Shaikh</b>
    </p>
    <div class="pro-links">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-linkedin-in"></i>
    </div>
  </div>
</footer>
<!-- Footer section ends from here -->
